body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os checkboxes horizontalmente */
}

.checkbox-container .checkbox {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.checkbox-container .checkbox input[type="checkbox"] {
    width: 30px;
    height: 30px;
    border: 2px solid purple;
    border-radius: 0;
}

.checkbox-container .checkbox .titulo-tarefa {
    display: inline-block;
    width: 300px;
    border-bottom: solid 2px #9370DB;
    margin-left: 10px;
}

.content {
    text-align: left; /* Alinha o conteúdo do parágrafo à esquerda */
    margin-top: 20px;
    margin-left: 20px;
}

.footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer .button {
    width: 150px;
    height: 50px;
    background-color: #9370DB;
    color: #fff;
    margin: 0 10px; /* Espaçamento horizontal entre os botões */
    border: none;
    border-radius: 0;
}

p {
    font-style: Helvética;
    font-size: 30px;
    font-family: arial, sans-serif;
}

.botao-excluir {
    background-color: crimson;
    color: white;
}